{% extends 'blog/top_menu.html' %}

{% load static %}

{% block content %}

<br>

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <div class="col">
            <div class="card shadow-sm">
                <img style="height: 225; object-fit: cover;" src="{% static 'favicon/Medisys_Map.png' %}"/>

                <div class="card-body">
                    <p class="card-text">ECDC에서 제공하는 Medisys 글로벌 감염병 관련 기사 데이터를 분석하여 전세계 감염병 유입 및 발생 위험도 분석 결과 제공</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'drw_info' %}" role="button">View</a>
                        </div>
                        <small class="text-muted">글로벌 감염병 유입 위험도</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img style="height: 225; object-fit: cover;" src="{% static 'favicon/Clustering_example.png' %}"/>

                <div class="card-body">
                    <p class="card-text">GISAID에서 제공하는 대량의 SARS-CoV-2 서열 데이터를 기반으로 한 바이러스 아틀라스 제공 및 분석 결과 제공</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'seq_analyze' %}" role="button">View</a>
                        </div>
                        <small class="text-muted">SARS-CoV-2 서열 분석</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img style="height: 225; object-fit: cover;" src="{% static 'favicon/NER_BERT.png' %}"/>

                <div class="card-body">
                    <p class="card-text">NER BERT를 이용한 감염병 리포팅 기술 - 인공지능 언어모델을 기반으로 자동으로 주요 감염병 보고서 작성</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'bert' %}" role="button">View</a>
                        </div>
                        <small class="text-muted">BERT 활용 키워드 분석</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img style="height: 225; object-fit: cover;" src="{% static 'favicon/XGBOOST.png' %}"/>

                <div class="card-body">
                    <p class="card-text">기상 기후 및 검색 쿼리 데이터와 XGBOOST를 사용한 태국, 프랑스 뎅기열 발생 환자 예측 분석 결과 제공</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'dengue' %}" role="button">View</a>
                        </div>
                        <small class="text-muted">Dengue 예측 분석</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
